#carouselExampleIndicators{
    position: absolute;
    margin-top: -75px;
    margin-left: -32px;
    height: 400px;
    z-index: 2;
    filter: brightness(0.4);
    background-size: cover;
    
    

}




.btn1{
    position: absolute;
    z-index: 3;
    border-radius: -20%;
    margin-left: 350px;
    height: 50px;
    width: 100px;
    filter: opacity(30%);
    margin-top: -25px;
    
}
.btn2{
    position: absolute;
    z-index: 3;
    border-radius: -20%;
    margin-left: 470px;
    height: 50px;
    width: 100px;
    filter: opacity(30%);
    margin-top: -25px;
}
.btn3{
    position: absolute;
    z-index: 3;
    border-radius: -20%;
    margin-left: 590px;
    height: 50px;
    width: 100px;
    filter: opacity(30%);
    margin-top: -25px;
}
.btn4{
    position: absolute;
    z-index: 3;
    border-radius: -20%;
    margin-left: 710px;
    height: 50px;
    width: 100px;
    filter: opacity(30%);
    margin-top: -25px;
}


.btn1:hover{
    background-color: red;
   
}
.btn2:hover{
    background-color: red;
}
.btn3:hover{
    background-color: red;
}.btn4:hover{
    background-color: red;
}

