.cookie-banner{
    display: block;
    background: rgba(7, 7, 7, 0.85);
    position : fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 10px;
}

.cookie-container{
    margin: 0 auto;
    width: 70%;
    color: #f0f0f0;
    padding: 15px;
}

.cookie-container p, .cookie-container a{
    font: 0.75em;
    font-family: Arial, Helvetica, sans-serif;
}

.cookie-container a{
    color: slategray;
}

.cookie-button{
    background: #ccc;
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

section{
    margin-top: 70px;
}
.section-title{
    padding-left: 60px;
    padding-bottom: 20px;
}

.alignment{
    margin-left: 65px;
}

.vl{
    border-left: 4px solid red;
    height: 40px;
    position: relative;
    padding-right: 25px;
}

/* Gender choice buttons */
.all{
    padding: 0px 15px;
}


/* Interactive "more films" button */
.more-films{
    text-align: center;
    margin-top: 10px;
}

/* Cards */

.card {
    padding: 10px;
    align-items: center;
    border: 0;
}

.card img {
    /* width: 100%; */
    height: 250px;
    padding: 10px;
}

.card h4{
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
}

.card-container {
    width: 100%;
}

.date{
    font-size: 12px;
}

.genre{
    font-size: 11px;
    font-weight: bold;
    padding: 0px;
}

.films{
    margin-top: 30px;
}

html {
font-size: 1rem;
}

#forgot-password{
    text-decoration: none;
    color: rgb(216, 79, 79);
    font-size: 0.8em;
}

#check-conditions{
    text-decoration: none;
    color: rgb(216, 79, 79);
    font-size: 0.8em;
}


.jumbotron{
padding: 0px;
margin: 0px;
width: 100%;
max-height: 0%;
height: auto;
background-color: red;
}

/* -- CAROUSEL -- */

#carouselExampleIndicators{
position: relative;
max-width: 100%;
max-height: auto;
z-index: 1;
filter: brightness(0.5);
}

/* -- IMAGES CAROUSEL --*/

.imgvh{
width: 100%;
}

/* -- TITRE NAVBAR ET MENU DEROULANT-- */

.title{
position: relative;
font-size: 50px;
color: white;
margin-top: -10px;
margin-left: 0.1em;
float: left;
}

.redtitle{
color: red;
}

.navbar-light .navbar-nav .nav-link {
color: white;
margin:0 -0.03em;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active{
color: white;
font-size: 15px;
}

.navbar-light .navbar-brand{
color: white;
}

.navbar-toggler{
position: relative;
z-index: 3;
}

.navbar-toggler-icon{
color: white;

}

#menu {
    position: absolute;
    top: 3%;
    margin-left: 1em;
    z-index: 2;
    width: 75%;
    float: right;
    margin-top: -1em;
    padding-top: 12px;
    }

/* -- BARRE DE RECHERCHE -- */

.form-control{
    margin-left: 325px;
    filter: opacity(30%);
    }
/* -- LIGNE LATEST ONLINE MOVIE --*/
@media(min-width:375px){
    .redsubtitle{
        position: sticky;
        text-align: center;
        margin-left: -190px;
        font-size: 2px;
       
    }
    .subtitle{
        font-size: 2px;

    }
}
@media(max-width:767px){}
@media(min-width:768px){
    .redsubtitle{
        text-align: center;
        margin-left: -190px;
        font-size: 2px;
        display: none;
        margin:0 0px;
    }
    .subtitle{
        display: none;
        z-index: 0;

    }
}
@media(min-width:992px){}
@media(min-width:1200px){}

.subtitle{
position: relative;
z-index: 2;
color: white;
display: inline-block;
font-size: 35px;
text-align: center;
margin:0 15px;
margin-left: -10px;
}

.redsubtitle{
position: relative;
z-index: 2;
color: red;
display: inline-block;
font-size: 35px;
text-align: center;
margin:0 10px;
}

.row1{
margin-top: -270px;
margin-left: 425px;
height: 25px;
}

.d-flex{
margin-top: 205px;
}

/* -- BOUTONS -- */

.btn2{
    z-index: 2;
    margin-top: 5px;
    filter: opacity(80%);
    vertical-align: middle;
    color: white;
}

.btn2 .btn-secondary .active{
    position: relative;
    z-index: 2;
    margin-top: 15px;
}

.btn2 a{
    text-decoration: none;
    color: white;
}

.nav-item .btn-secondary{
    background-color: transparent;
}

.barebtn{
    background-color: black;
    color: white;
    font-size: 12px;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 5px 2px;
}

.barebtn:hover{
    background-color: #333;
}

.watchbtn{
    position: relative;
    z-index: 2;
    margin-left: 47%;
    background: black;
    color: white;
    font-size: 12px;
    filter: opacity(40%); 
    border: none;
}

.watchbtn:hover{
    background-color:red;
}

.btn-submit{
     margin-bottom: 10px; 
}

/* -- FORMULAIRE -- */

.form-control{

position: relative;
display: block;
margin: auto;
}

#exampleFormControlTextarea1{
    
    height: 100px;
    margin: auto;
   
}

.ctrl{
    margin: auto;
    display: inline-block;  
     
}



#boxFacebook:hover, #boxTwitter:hover, #boxDribbble:hover, #boxGoogle:hover {
    left: 0;
}
#boxGoogle {
    top: 180px;
    background-color: #da4c34;
}
#boxDribbble {
    top: 145px;
    background-color: #ef478a;
}
#boxFacebook {
    top: 110px;
    background-color: #405f93;
}
#boxTwitter {
    top: 75px;
    background-color: #3eabf7;
}
#boxFacebook, #boxTwitter, #boxDribbble, #boxGoogle {
    position: fixed;
    left: -90px;
    width: 120px;
    padding: 7px;
    z-index: 3;
    border-radius: 0 50px 50px 0;
    -webkit-box-display: flex;
    -ms-flexbox-display: flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    font-size: 0.8em;
}
* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}


.button_return {
    border-radius: 50%;
    position: fixed;
    bottom: 60px;
    right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: white;
    background-color: red;
    z-index: 5;
    transition: opacity .5s;
}

/* -- FOOTER -- */

.footer {
    padding: 20px 0 20px 0;
    background-color: #090c14;
    color: grey;
    padding-top: -10px;
   
}

.copyright{
    display: inline;
    text-align: center;
    
    
    
}

.subscribe{
    color: red;
}

.subscribebar{
    width: 50%;
    
}

.tab1{
    background: grey;
    color: white;
    font-size: 9px;
    margin: 2px;
    height: 25px;   
    
}

.img-carre-gris{
    margin-bottom: 5px;
}

.latest-movies{
    font-size: 0.8em;
    padding-bottom: 10px;
}

.lign{
   
    margin: 0px;
}


.connect-us{
    font-size: 20px;
    
}

.social-icon{
font-size: 20px;

}

.footer-title{
    color: white;
}

.footer-redtitle{
    color: red;
}

.map{
    margin-left: 25%;
}

#contactSub{
    border:none;
    background-color: #DF2620;
    padding: 8px;
    margin-right: 10px;
    color: white;
    min-width: 80px;
    margin-bottom: 10px;
}

.icon{
    color: white;
}

.card-text{
    color: lightgrey;
}

.card-title{
    color: lightgray;
}
