<<<<<<< HEAD

/* Cards */
.card {
    padding: 10px;
    align-items: center;
    border: 0;
}

.card img{
    width: 320px;
}

.card h4{
    font-size: 13px;
    text-align: center;
    padding-top: 5px;
}

table{
    padding: 5px;
}

.date{
    text-align: left;
    margin-left: -150px;
    font-size: 12px;
    position: sticky;
}

.genre{
    text-align: right;
    font-size: 11px;
}
=======
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
>>>>>>> 9db7544086c792776c60defe69107ed75810555a
